[Unit]
Description=Rclone Bisync Bidireccional - Sincronizacion de Apagado
DefaultDependencies=no
Before=exit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/bash "%h/Documentos/Proyectos Python/zorin-os-setup/scripts/sync_palacio.sh"
TimeoutStopSec=60

[Install]
WantedBy=default.target
